<p id="notice"><%= notice %></p>

<h1>Nearest Stations</h1>

<table>
  <thead>
    <tr>
      <th>Line name</th>
      <th>Station name</th>
      <th>Walk minute</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @nearest_stations.each do |nearest_station| %>
      <tr>
        <td><%= nearest_station.line_name %></td>
        <td><%= nearest_station.station_name %></td>
        <td><%= nearest_station.walk_minute %></td>
        <td><%= link_to 'Show', nearest_station %></td>
        <td><%= link_to 'Edit', edit_nearest_station_path(nearest_station) %></td>
        <td><%= link_to 'Destroy', nearest_station, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Nearest Station', new_nearest_station_path %>
