<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @property.name %>
</p>

<p>
  <strong>Rent:</strong>
  <%= @property.rent %>
</p>

<p>
  <strong>Address:</strong>
  <%= @property.address %>
</p>

<p>
  <strong>Age:</strong>
  <%= @property.age %>
</p>

<p>
  <strong>Remark:</strong>
  <%= @property.remark %>
</p>
<hr>
<h2>最寄り駅1</h2>
<p>
  <strong>路線名:</strong>
  
</p>
<p>
  <strong>:</strong>
  <%= @property.rent %>
</p>
<p>
  <strong>Rent:</strong>
  <%= @property.rent %>
</p>

<h2>最寄り駅2</h2>

<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
